/* จัดการ padding + margin รวมในการคำนวณด้วย  */
* {
  box-sizing: border-box;
}

/* Browser ปกติจะมี margin มาให้ เซ็ต=0 */
ิbody {
  margin: 0;
  background: #e9ebee;
  color: #1d2129;
}

.Navbar {
  color: #fbf2e9;
  font-size: 40px;
  font-weight: bold;
  background: #946c59;
  padding: 10px;
}

.Input,
.Post {
  border-radius: 5px;
  font-size: 20px;
  border: 1px solid rgba(254, 244, 234, 255);
  width: 576px;
  margin: 20px auto;
  background-color: rgba(254, 244, 234, 255);
}

.Input_header {
  background-color: #be9986;
  border-bottom: 1px solid #be9986;
  border-radius: 2px 2px 0 0;
  margin: 0;
  padding: 15px;
  font-size: 20px;
  font-weight: bold;
}

.Input_field {
  width: 100%;
  height: 100px;
  padding: 10px;
  font-size: 20px;
  background-color: #f4dec7;
  border: none;
}

.input_field: focus {
  outline: none;
}

.Post {
  padding: 15px;
}

.Post_img {
  width: 100%;
  margin-top: 15px;
}

.Post_delete {
  border: none;
  background: none;
  padding: 0;
  float: right;
  cursor: pointer;
  font-size: 20px;
}
